.container {
    display: grid;
    grid-template-rows: 90px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-columns: 1fr;
    justify-content: center;
}

.container > div {
    background-color: aliceblue;
}




.first-name {
    grid-row: span 1;
    grid-row: span 1;
}
.last-name {
    grid-area: 3 / 1 / 4 / 2;
}
.description {
    grid-row-start: 6;
    grid-row-end: 8;
}

.button {
    grid-row-start: 9;
    grid-row-end: 10;
    justify-content: right;
}


.table-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.table-grid > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}



.form-title {
    grid-row-start: 1;
    grid-row-end: 3;
}